<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.7.3/dist/css/uikit.min.css"
    />
    <script
      src="https://kit.fontawesome.com/c7cbb7fafb.js"
      crossorigin="anonymous"
    ></script>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.3/dist/js/uikit-icons.min.js"></script>
    <style>
      .fas {
        color: red;
      }
    </style>
  </head>
  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="#">NoDistance</a></li>
          <li class="uk-active">
            <a href="/blog">Blogs</a>
          </li>
          <li><a href="/chat">Messages</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right" style="margin-right: 70px">
        <ul class="uk-navbar-nav">
          <li>
            {% if user.is_authenticated %}
            <a href="/dashboard">{{ user.username }}</a>
            {% endif %}
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/new-blog">Write a blog</a></li>
                <li><a href="/myblogs">My Blogs</a></li>
                <li><a href="/dashboard">Account</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <div
        class="outerwrap"
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 5px;
          margin-bottom: 50px;
        "
      >
        {% if my %}
        <h1>My Blogs</h1>
        {% endif %} {% if usr %}
        <h1>Blogs of {{ usr.name }}</h1>
        {% endif %} {% for i in datas %}

        <div
          class="uk-card uk-card-default uk-card-large uk-card-body"
          style="
            width: 60vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 30px;
            border-radius: 5px;
            background: linear-gradient(
              to top left,
              rgba(116, 134, 168, 0.33),
              rgba(87, 22, 190, 0.377)
            );
          "
        >
          <h3 class="uk-card-title">{{ i.title }}</h3>
          <a href="/blog/{{ i.topic }}">{{ i.topic }}</a>
          <span
            >By-
            <a href="/user/{{ i.author }}" style="margin-left: 10px"
              >{{ i.author }}</a
            ></span
          >
          <span>On- {{ i.date }}</span>
          <hr
            class="uk-divider-icon"
            style="background-color: black; color: black"
          />
          {% autoescape on %}
          <p>{{ i.content }}</p>
          {% endautoescape %}
          <button
            class="far fa-heart"
            id="likess{{ i.id }}"
            onclick="like('{{ i.id }}')"
          >
            <span style="margin-right: 4px" id="likes{{ i.id }}"
              >{{ i.likes }}</span
            >
          </button>
        </div>
        {% endfor %}
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>

    <script type="text/javascript">
      console.log(Cookies.get("csrftoken"));

      function like(id) {
        var catid;
        catid = $(this).attr("data-catid");
        $.ajax({
          type: "POST",
          url: "/like",
          headers: { "X-CSRFToken": Cookies.get("csrftoken") },
          data: {
            post_id: id,
          },
          success: function (data) {
            var tag = "likes" + id;
            var txt = $("#" + tag).html();
            $("#likess" + id).removeClass("far");
            $("#likess" + id).addClass("fas");
            $("#likes" + id).text(eval(txt + "+1"));
          },
        }).done((json) => console.log(json));
      }
    </script>
  </body>
</html>