<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/general/split.css">
    <title>PendingPayments</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
    <style>
        .card {
            width: 60%;
            height: 80px;
            border-radius: 15px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;
        }

        main {
            height: 70vh;
            margin-top: -70px;
        }

        body {
            height: 70vh;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li><a href="/">Dashboard</a></li>

                <li><a href="/split">New split</a></li>
                <li class="uk-active"><a href="/pendingpayments">Pending Payments</a></li>
                <li><a href="/travel">My Journey</a></li>
            </ul>

        </div>
        <div class="uk-navbar-right" style="margin-right: 20px;">

            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">{{ user }}</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/">My Account</a></li>
                            <li><a href="/signout">Signout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <section>
        <main style="padding-top:60px;">
            <div class="card" id="{{ i.id }}" style="margin: auto; border: none;" >
                <p>Created by</p>
                <p>Ammount</p>
                <p>Time</p>
                <p>View Bill</p>
                <p>Paid?</p>

            </div>
            {% for i in data %}
            <div class="card" id="{{ i.id }}" style="margin: auto;">
                <p>{{ i.creator }}</p>
                <p>{{ i.ammount }}</p>
                <p>{{ i.time }}</p>
                <input type="button" value="View bill" onclick="viewbill('{{ i.id }}')" class="buttonb">
                <input type="button" value="Pay" onclick="paid('{{ i.id }}')" class="buttonb">
                <div class="overlay" style="display: none;" id="show{{ i.id }}">
                    <div class="close" id="close{{ i.id }}" onclick="closebill('{{ i.id }}')">X</div>
                    <div class="imagewrapper">
                        <img src="/media/bills/{{ i.bill_image }}" alt="bill image">

                    </div>
                </div>
            </div>
            {% endfor %}
        </main>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>

    <script type="text/javascript">
        console.log(Cookies.get('csrftoken'));

        function paid(username) {
            var catid;
            catid = $(this).attr("data-catid");
            $.ajax(
                {
                    type: "POST",
                    url: "/paythebills/" + username,
                    headers: { 'X-CSRFToken': Cookies.get('csrftoken') },
                    data: {
                        post_id: catid
                    },
                    success: function (data) {
                        $('#' + username).remove();
                        $('.isadded').text(data);
                        console.log(data)
                    }
                }).done(json => console.log(json));
        }

        function viewbill(id){
            let id1 = '#show'+id
            $(id1).css('display','block')
        }
        function closebill(id){
            let id1 = '#show'+id
            $(id1).css('display','none')
        }
    </script>

</body>

</html>